@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-4">Welcome </h4>
    <br />
    <h4 class="display-4">BarberShop </h4>


</div>
@*<div class="display-label">
    @Html.DisplayNameFor(@Model = Model.Imges) 
</div>
<div class="display-field">
    <img src="@Url.Content(@Model.Images)" />
</div>*@
