@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-4">Welcome </h4>
    <br />
    <h4 class="display-4">BarberShop </h4>

</div>
<div>
    <div class="image-box-1" style="margin-left:320px">
        <img src="./Images/baber.png" alt="Baber Image" />
    </div>
 </div>

